*.class
*.log

# sbt specific
.cache
.history
.lib/
.idea/rebel_project.xml
.idea/workspace.xml
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
